@import "../../@core/scss/base/bootstrap-extended/include";
@import "../../@core/scss/base/components/include";

.post-slide {
  background-color: white;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
}
